{
    "settings": {
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
            // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "version": "detect", // React version. "detect" automatically picks the version you have installed.
            // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
            // default to latest and warns if missing
            // It will default to "detect" in the future
            "flowVersion": "0.53" // Flow version
        },
        "propWrapperFunctions": [
            // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
            "forbidExtraProps",
            { "property": "freeze", "object": "Object" },
            { "property": "myFavoriteWrapper" }
        ],
        "linkComponents": [
            // Components used as alternatives to <a> for linking, eg. <Link to={ url } />
            "Hyperlink",
            { "name": "Link", "linkAttribute": "to" }
        ]
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "requireConfigFile": false
    },
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/function-component-definition": [1, {
            "namedComponents": "arrow-function",
            "unnamedComponents": "arrow-function"
          }],
        "prettier/prettier": "error",
        "react/jsx-max-props-per-line": [1, { "maximum": 10, "when": "multiline" }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-no-literals": [0, { "noStrings": false, "allowedStrings": ["allowed"] }],
        "react/no-array-index-key": [0],
        "no-undef": ["error", { "typeof": true }],
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "react/jsx-one-expression-per-line": [0, { "allow": "single-child" }]
    },
    "extends": ["plugin:prettier/recommended", "plugin:react/all"],
    "plugins": ["react", "react-hooks", "prettier"],
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "node": true
    }
}
